body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: MozTT, sans-serif; 
  font-weight: normal;
  font-size: 10px;
  width: 320px;
}

body {
  background: #1D2125  no-repeat 0 -20px;
  
}

@media (min-height: 926px) {
  body {
    background: #1D2125 no-repeat 0 -34px;
    transform: scale(1.7);
    transform-origin: 0 0;
    background-size: 170%;
    
  }
}

.app-name {
  
  width: 98%;
  font-size: 13px;
  height:30px;
  padding: 0px;
  color: #ffffff;
  background: #298ED2;
  margin: 0px 3px -2px ;
  text-align: center;
  font-family: MozTT, sans-serif; 
  font-weight: 600;
  font-size: 2rem;
}

.keypad-row {
  padding-left: 3px;
  padding-right: 4px;
  display: block;
}

input {
  -moz-appearance: none;
  padding: 0px;
  margin: 0;
  border: 1px solid #424242;
  border: 1px solid #0000ff;
  background: transparent;
  background-color: #298ED2;
  
  background-repeat: no-repeat;
  background-position: 4px 0;

  color: white;
  font-family: MozTT, sans-serif; 
  font-weight: 500;
  font-size: 2.06rem;

  width: 80px;
  height: 5.5rem;
  line-height: 6rem;

  /* For an easier touch target, buttons are not exactly centered and
     are bigger at the bottom */
  padding-bottom: 1rem;

  /* text nodes in the source code affect the layout */
  margin-right: -5px;
}

input#button-key {
  display: inline;
  
}
input[type="button"]::-moz-focus-inner {
  border:none;

}
input#clear {
 background-color: #545CFF;
}

input#button-key:hover,input#equal:hover,input#clear:hover {
  background: #1B8FFC;

}
input#button-key:active,input#equal:active,input#clear:active {
  background: #1E7ED8;
}
input#equal {
  height: 11rem;
  display: inline;
  margin-top: -110px;
  margin-left: 237px; 
  position:absolute;
}

input#delete:hover {
  background: #1B8FFC;
  color: #ff0000;;
}
input.disp {
width: 97%;
}

#display {

  color: #111111;
  margin: 3px;
  height: 140px;
  width: 97%;
  font-family: MozTT, sans-serif;
  background-color: #4E99DC;
  font-size: 5.7rem;
  resize: none;
}



